.card-container{
  max-width: 50vw;
  margin: auto;
  margin-top: 50vh;
  transform: translate(0,-50%);
}

.homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 50vw; */
}

header{
  border-radius: 20px;
  box-shadow: 0px 0px 30px -15px black;
  background-color: rgb(152, 221, 152);
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.card{
  text-align: center;
}